{% macro show_link() %}

<nav class="navbar navbar-expand-lg bg-dark p-2" >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Quiz App Flask</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{% endmacro %}